<?xml version="1.0" ?>
<robot name="flyingcar" xmlns:xacro="https://www.ros.org/wiki/xacro" >
  <gazebo reference="base_link">
    <material>Gazebo/Orange</material>
  </gazebo>
  <gazebo reference="body_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo>
    <!--hector_gazebo_plugins-->
    <plugin name="imu_controller" filename="libhector_gazebo_ros_imu.so">
      <robotNamespace>/</robotNamespace>
      <frameId>base_imu_link</frameId>
      <updateRate>100.0</updateRate>
      <bodyName>base_imu_link</bodyName>
      <topicName>imu</topicName>
      <accelDrift>0.005 0.005 0.005</accelDrift>
      <accelGaussianNoise>0.005 0.005 0.005</accelGaussianNoise>
      <rateDrift>0.005 0.005 0.005 </rateDrift>
      <rateGaussianNoise>0.005 0.005 0.005 </rateGaussianNoise>
      <headingDrift>0.005</headingDrift>
      <headingGaussianNoise>0.005</headingGaussianNoise>
    </plugin>
  </gazebo>

</robot>
