<?xml version="1.0" ?>

<robot xmlns:xacro="https://www.ros.org/wiki/xacro" >
  <xacro:include filename="$(find flyingcar_description)/urdf/flyingcar.gazebo.xacro"/>
  <xacro:include filename="$(find flyingcar_description)/urdf/sensors/hokuyo_utm30lx.urdf.xacro" />
  <xacro:include filename="$(find flyingcar_description)/urdf/sensors/_d435.urdf.xacro" />
  <xacro:property name="M_PI" value="3.14159"/>
  <xacro:macro name="flyingcar" params="parent">

    <!--body of sensor-->
    <joint name="pack_link_joint" type="fixed">
      <origin xyz="0 0 0.0375" rpy="0 0 0"/>
      <parent link="${parent}"/>
      <child link="pack_link" />
    </joint>
    <link name="pack_link">
      <inertial>
        <mass value="0.5"/>
        <origin rpy="0 0 0" xyz="0 0 0"/> <!--0.36/2 - 0.09-->
        <inertia ixx="0.01" ixy="0" ixz="0" iyy="0.01" iyz="0" izz="0.01"/>
      </inertial>
      <collision name="collision_base_link">
        <geometry>
          <box size="0.08 0.12 0.075"/>
        </geometry>
      </collision>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.08 0.12 0.075"/>
        </geometry>
        <material name="blue"/>
      </visual>
    </link>

    <!-- Sparkfun imu-->
    <joint name="imu_joint" type="fixed">
      <axis xyz="0 0 0"/> <!-- 0 1 0 -->
      <origin xyz="0 0 0.06"/>
      <parent link="${parent}"/>
      <child link="base_imu_link"/>
    </joint>
    <link name="base_imu_link">
      <inertial>
        <mass value="0.001"/>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <inertia ixx="0.0001" ixy="0" ixz="0" iyy="0.000001" iyz="0" izz="0.0001"/>
      </inertial>
      <visual>
        <origin rpy="0 0 0" xyz="0 0 0"/>
        <geometry>
          <box size="0.001 0.001 0.001"/>
        </geometry>
      </visual>
    </link>

    <!-- Hokuyo utm30lx-->
    <xacro:hokuyo_utm30lx name="hokuyo" parent="${parent}">
      <origin xyz="0.0 0.0 0.105" rpy="0 0 0"/> <!--real measure from blue extend version-->
    </xacro:hokuyo_utm30lx>

    <!-- Intel realsense-->
    <xacro:sensor_d435 parent="${parent}">
      <origin xyz="0.032 0.0 0.05" rpy="0 0 0"/> <!--real measure from blue extend version-->
    </xacro:sensor_d435>

  </xacro:macro>
</robot>
