<!--rosservice call /finish_trajectory 1-->
<!--rosrun cartographer_ros cartographer_start_trajectory ... -configuration_directory '/home/shannon/Documents/ros-kinetic/src/ironfish_cartographer_navigation/config' -configuration_basename 'ironfish_seperate_locali.lua' -initial_pose '{to_trajectory_id = 0, relative_pose = { translation = { 1, 1, 0}, rotation = {0., 0., 0., } } }'-->

<launch>
  <!--sim or real-->
  <arg name="env" default="false"/>
  <!--load state map (.pbstream)-->
  <arg name="map_filename" default="$(find ironfish_cartographer_navigation)/map/test.pbstream"/>
  <!--load lua configuration file (.lua)-->
  <arg name="lua_filename" default="ironfish_allcarto_locali.lua" if="$(arg env)"/> <!--or hybrid-->
  <arg name="lua_filename" default="ironfish_seperate_locali.lua" unless="$(arg env)"/>

  <node pkg="cartographer_ros" type="cartographer_start_trajectory"
    name="cartographer_start_trajectory_node" args="
        ...
        -configuration_directory '$(find ironfish_cartographer_navigation)/config'
        -configuration_basename '$(arg lua_filename)'
        -initial_pose '{to_trajectory_id = 0, relative_pose = { translation = { 1, 1, 0}, rotation = {0., 0., 0., } } }'"
    output="screen">
  </node>
</launch>
