<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <arg name="rviz" default="false"/>
    
    <param name="robot_description" command="python $(find xacro)/xacro.py '$(find flyingcar_description)/robot/flyingcar_robot.urdf.xacro'" />
    <arg name="gui" default="false"/>
    <arg name="x" default="0"/>
    <arg name="y" default="0"/>
    <arg name="z" default="0.101"/>

    <!-- Combine joint values -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher"/>

    <!-- Show in Rviz   -->
    <group if="$(arg rviz)">
      <node name="rviz" pkg="rviz" type="rviz" args="-d $(find flyingcar_description)/rviz/flyingcar.rviz"/>
    </group>


</launch>
